.title {
  color: red;
}
.shadow {
  box-shadow: 0 0 5px 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}
hr {
    margin: 20px 0;
    border: 1px solid;
}
.btn-primary {
    margin-right: 5px;
}
body {background: #ededed !important; }
#react-feed {
  width: 676px;
  margin: 0 auto
}
.ys-card {
  width: 676px;
  margin: 0 auto
}
.ys-group-card-img-top {
  height: 300px;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  button {
    width: 300px;
  }
}
.select-container {
  padding: 0 ;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  div {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 5px;
  }
}
